<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <form action='/add' method='post'>
        <label for='number'>How many visits to add?:</label>
        <input type='text' name='number'>
        <input type='submit' value='Add'>
    </form>
    
    <p>{{ session['count'] }} Real Visits</p>
    <p>{{ session['fake_count'] }} Fake Visits</p>

    <form action='/destroy_session'>
        <input type='submit' value="Reset">
    </form>
</body>
</html>