<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Ninja Gold</title>
</head>
<body>
    {% if session['turn_count'] < 15: %}
    <div id="yourGold">
        <h3 id="balance">Your Gold: {{session['balance']}}</h3>
        <p>You have 15 turns to amass 250 gold. Good luck.</p>
    </div>
        <div id="forms">
            <div class="form">
                <h3>Farm</h3>
                <h5>(earns 10-20 gold)</h5>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="farm" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="form">
                <h3>Cave</h3>
                <h5>(earns 5-10 gold)</h5>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="form">
                <h3>House</h3>
                <h5>(earns 2-5 gold)</h5>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="form">
                <h3>Casino</h3>
                <h5>(earns/takes 0-50 gold)</h5>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
        </div>
    {% else: %}
        {% if session['balance'] >= 250: %}
            <h1 class="positive">You win with {{session['balance']}}!</h1>
        {% else: %}
            <h1 class="negative">You lose with {{session['balance']}}!</h1>
        {% endif %}
    {% endif %}
    <div id="footer">
        <h5>Activity Log</h5>
        <div id="activityLog">
            {% for x in range (session['log']|length, 0, -1): %}
                <p class="{% if session['log'][x-1][1] >= 0: %} 
                        {%print('positive') %} 
                    {% else: %}
                        {% print('negative') %} {% endif %}">
                    {% print (session['log'][x-1][0]) %}</p>
            {% endfor %}
        </div>
        {% if session['turn_count'] == 15 %}
        <form action='/reset'>
            <input type='submit' value="Play Again" class="reset">
        </form>
        {% endif %}
    </div>
</body>
</html>