<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Dojos & Ninjas - Dojos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>All Dojos</h1>
    <ul>
        {% for dojo in dojos %}
        <li><a href="/dojos/{{dojo.id}}">{{dojo.name}}</li>
        {% endfor %}
    </ul>
    <h3><a href="/ninjas">Add Ninja</a></h3>

    <hr>

    <h1>Add Dojo</h1>

    <form action="/processDojos" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name"> 
        <input type="submit" value="Add Dojo">
    </form>
</body>
</html>